[init]
  defaultBranch = main
[user]
  name = Yannick Wahner
  email = yannick.wahner@itsg.de
  ;signingkey = F38EA7F576104903
[core]
  editor = nvim
  pager = delta --dark --line-numbers --diff-so-fancy --paging=never
	autocrlf = false
[interactive]
  diffFilter = delta --color-only
[delta]
  navigate = true
  dark = true
[alias]
  c = commit -s
  commit = commit --signoff
[merge]
  conflictstyle = zdiff3
[pull]
  rebase = true
[rerere]
  enabled = true
[includeIf "gitdir:~/github/"]
  path = ~/.gitconfig-github

[includeIf "gitdir:~/README.md"]
  path = ~/.gitconfig-github

