[init]
	defaultBranch = main
[user]
	name = Yannick Wahner
	email = yannick.wahner@itsg.de
	; signingkey = F38EA7F576104903
[core]
	editor = nvim
  pager = delta --dark --line-numbers --diff-so-fancy --paging=never
[alias]
	c = commit -s
  commit = commit --signoff
; [commit]
; 	gpgsign = true
[pull]
	rebase = true
[rerere]
	enabled = true

[includeIf "gitdir:~/github/"]
  path = ~/.gitconfig-github

[includeIf "gitdir:~/README.md"]
	path = ~/.gitconfig-github

